<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p> Please login to continue</p>
    <a href="/users/login">Login</a>
  </body>
</html>
