body {
    background-color: #F9F6F0;
  }
  
  h1, p {
    color: #452A2A;
    text-align: center;
  }
  
  form {
    background-color: #FFF;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px #C5C5C5;
    margin: 2em auto;
    width: 80%;
    max-width: 600px;
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  input[type="text"], input[type="password"] {
    display: block;
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    margin-bottom: 1em;
  }
  
  button[type="submit"] {
    display: block;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    background-color: #E9C3BB;
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin: 1em auto;
    transition: all 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    transform: scale(1.05);
    background-color: #D99E91;
  }